<div id="<%= dom_id user %>">
	<%= "#{user.name} (#{user.email})" %>

	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Complete</th>
			</tr>
		</thead>
		<tbody>
			<% user.todos.each do |todo| %>
				<tr>
					<td><%= todo.title %></td>
					<td><%= todo.complete? ? "Yes" : "No" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
